[submodule "tools/Grapher"]
	path = tools/Grapher
	url = https://github.com/Programmer-RZ/Grapher.git
[submodule "tools/CSVGrapher"]
	path = tools/CSVGrapher
	url = https://github.com/Programmer-RZ/CSVGrapher.git
